<div class="fs-3 text-center col-12">
    Insider Sentiments
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-md-3"></div>
        <div class="col-12 col-md-6">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">{{searchResults.companyDetails.name}}</th>
                        <th scope="col">MSPR</th>
                        <th scope="col">Change</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Total</th>
                        <td>{{totalMSPR()}}</td>
                        <td>{{totalChange()}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Positive</th>
                        <td>{{totalPosMSPR()}}</td>
                        <td>{{totalPosChange()}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Negative</th>
                        <td>{{totalNegMSPR()}}</td>
                        <td>{{totalNegChange()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-3"></div>
    </div>
    <div class="row">
        <div *ngIf="chartOptionsRec" class="col-12 col-md-6">
            <highcharts-chart 
            [Highcharts]="highchartsRec"
            [options]="chartOptionsRec"
            style="width: 100%; height: 100%; display: block;">
            </highcharts-chart>
        </div>
        <div *ngIf="chartOptionsHist" class="col-12 col-md-6">
            <highcharts-chart 
            [Highcharts]="highchartsHist"
            [options]="chartOptionsHist"
            style="width: 100%; height: 100%; display: block;">
            </highcharts-chart>
        </div>
    </div>

