.header {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    list-style-type: none;
}

.mainevent {
    text-align: center;
    display: flex;
    color: black;
    justify-content: flex-start;
}

.mainevent a {
    text-decoration: none;
    color: rgb(135, 132, 76);
    padding: 14px 16px;
    font-size: 12px;
    font-weight: normal;
}

.nav {
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 14px 16px;
    font-size: 12px;
    font-weight: normal;
}

.overlay-title {
    color: white;
    text-align: center;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding-top: 15%;
    background-size: cover;
    background-position: center;
    font-size: 45px;
    letter-spacing: 15px;
    line-height: 1.5;
    
}