<div class="container">
    <div class="row">
        <div class="col-2 col-md-3">
        </div>
        <div class="col">
            <p class="text-center fs-2">Stock Search</p>
            <form class="form-inline">
                <div class="form-group">
                    <input id="typeahead-basic" type="text" class="form-control" style="border-radius: 30px;"/>
                </div>
            </form>
        </div>
        <div class="col-2 col-md-3">
        </div>
    </div>
</div>
<!-- <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" /> -->