<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column ">
            <div *ngFor="let news of searchResults.companyNews.slice(0, searchResults.companyNews.length / 2)">
                <div class="card my-3" (click)="openNewsModal(newsModal, news)">
                    <div class="row g-0 col">
                      <div class="col-md-4 p-3">
                        <div class="img-container">
                          <img [src]="news.image" class="img-fluid rounded" alt="news image">
                        </div>
                      </div>
                      <div class="col-md-8 d-flex justify-content-center align-items-center">
                        <div class="card-body">
                          <p class="card-text text-center">{{news.headline}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column">
            <div *ngFor="let news of searchResults.companyNews.slice(searchResults.companyNews.length / 2)">
                <div class="card my-3"  (click)="openNewsModal(newsModal, news)">
                    <div class="row g-0">
                      <div class="col-md-4 p-3">
                        <div class="img-container">
                          <img [src]="news.image" class="img-fluid rounded" alt="news image">
                        </div>
                      </div>
                      <div class="col-md-8 d-flex justify-content-center align-items-center">
                        <div class="card-body">
                          <p class="card-text text-center">{{news.headline}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<ng-template #newsModal let-modal>
  <div class="modal-header">
    <div class="d-flex justify-content-end">
      <h4 class="modal-title">{{selectedNews.source}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> <br>
    <div>
      <small>{{convertDate(selectedNews.datetime)}}</small>
    </div>
  </div>
  <div class="modal-body">
    <h5>{{selectedNews.headline}}</h5>
    <small>{{selectedNews.summary}}</small>
    <small>For more details click <a href="{{selectedNews.url}}" target="_blank">here</a></small>
  </div>
  <div class="modal-footer border rounded">
    <p class="fs-5">Share</p>

    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{selectedNews.headline}}&url={{selectedNews.url}}" target="_blank" data-size="large"></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{selectedNews.url}}" target="_blank" class="btn btn-primary">Share on Facebook</a>
  </div>
</ng-template>