<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column ">
            <div *ngFor="let news of searchResults.companyNews.slice(0, searchResults.companyNews.length / 2)">
                <div class="card my-3" (click)="openNewsModal(newsModal, news)">
                    <div class="row g-0 col">
                      <div class="col-md-4 p-3">
                        <div class="img-container">
                          <img [src]="news.image" class="img-fluid rounded" alt="news image">
                        </div>
                      </div>
                      <div class="col-md-8 d-flex justify-content-center align-items-center">
                        <div class="card-body">
                          <p class="card-text text-center">{{news.headline}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex flex-column">
            <div *ngFor="let news of searchResults.companyNews.slice(searchResults.companyNews.length / 2)">
                <div class="card my-3"  (click)="openNewsModal(newsModal, news)">
                    <div class="row g-0">
                      <div class="col-md-4 p-3">
                        <div class="img-container">
                          <img [src]="news.image" class="img-fluid rounded" alt="news image">
                        </div>
                      </div>
                      <div class="col-md-8 d-flex justify-content-center align-items-center">
                        <div class="card-body">
                          <p class="card-text text-center">{{news.headline}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<ng-template #newsModal let-modal>
  <div class="modal-header justify-content-between">
      <h4 class="align-self-end" id="modal-basic-title">
        {{selectedNews.source}} <br>
        <small class="fs-6 text-muted">{{convertDate(selectedNews.datetime)}}</small>
      </h4>
      <a class="ml-auto" aria-label="Close" (click)="modal.dismiss('Cross click')">
        &times;
      </a>
  </div>
  <div class="modal-body">
    <h5>{{selectedNews.headline}}</h5>
    <small>{{selectedNews.summary}}</small> <br>
    <small class="text-muted">For more details click <a href="{{selectedNews.url}}" target="_blank">here</a></small>
  </div>
  <div class="m-2 modal-footer border rounded justify-content-start">
    <h2 class="text-muted"><small class="fs-6">Share</small> <br>
      <a href="https://twitter.com/intent/tweet?text={{selectedNews.headline}}&url={{selectedNews.url}}" target="_blank" data-size="large">
        <i class="fa-brands fa-x-twitter me-2" style="color:black"></i>
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{selectedNews.url}}" target="_blank">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
    </h2>
  </div>
</ng-template>