<header> 
    <nav class="navbar navbar-expand-md sticky-top navbar-dark" style="background-color: blue;"> 
        <div class="container-fluid"> 
            <a class="navbar-brand">Stock Search</a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
            </button> 
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav"> 
                <ul class="navbar-nav mb-2 mb-lg-0"> 
                    <li class="nav-item m-2 my-md-0" [class.active]="isActive()"> 
                        <a class="nav-link mx-2" (click)="searchWithSymbol()">Search</a> 
                    </li> 
                    <li class="nav-item m-2 my-md-0" routerLinkActive="active"> 
                        <a class="nav-link mx-2" routerLink="/watchlist">Watchlist</a> 
                    </li> 
                    <li class="nav-item m-2 my-md-0" routerLinkActive="active"> 
                        <a class="nav-link mx-2" routerLink="/portfolio">Portfolio</a> 
                    </li> 
                </ul> 
            </div> 
        </div> 
    </nav> 
</header>