<div class="container-fluid mt-3">
    <div class="row">
        <div class="col col-md-3"></div>
        <div class="col-10 col-md-6">
            <p class="text-center fs-2">STOCK SEARCH</p>
            <div class="search-bar border border-3 rounded">
                <div class="search-input input-group p-1">
                    <input
                    class="form-control p-1"
                    style="border: none; outline: none; box-shadow: none;"
                    matInput
                    type="text"
                    placeholder="Enter stock ticker symbol" 
                    [(ngModel)]="searchQuery"
                    (input)="onSearchInput()"
                    (ngModelChange)="onSearchInput()"
                    (keyup.enter)="executeSearch()"
                    [matAutocomplete]="auto">
                    <div class="icon-wrapper">
                        <mat-icon class="m-1" matSuffix (click)="executeSearch()">search</mat-icon>
                        <mat-icon class="m-1" matSuffix (click)="clearResults()">close</mat-icon>
                    </div>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngIf="isLoading">
                          <mat-spinner diameter="30"></mat-spinner>
                        </mat-option>
                        <div *ngIf="!isLoading">
                            <mat-option *ngFor="let suggestion of autocompleteSuggestions" (click)="selectSuggestion(suggestion)">
                            {{ suggestion.symbol }} | {{ suggestion.description }}
                            </mat-option>
                        </div>
                    </mat-autocomplete>
                </div>
            </div>
        </div>
        <div class="col col-md-3"></div>
    </div>
</div>

<div *ngIf="errorMessage">
    <ngb-alert class="d-flex justify-content-center mx-2" type={{typeMsg}} (closed)="close()">
        <div>
            {{ errorMessage }}
        </div>
    </ngb-alert>
</div>

<app-company-details *ngIf="!isEmpty(searchResults.companyDetails) && !errorMessage" [searchResults]="searchResults"></app-company-details>

