<div class="container" *ngIf="searchResults">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-5 col-md-4 justify-content-center" style="padding-left: 0px;">
                    <div class="d-flex justify-content-center fs-4"> {{ searchResults.companyDetails.ticker }}
                        <span>
                            <i class="bi bi-star m-2" style="font-size: inherit;"></i>
                        </span>
                    </div>
                    <h3 class="text-center fs-5" style="color: grey;">{{ searchResults.companyDetails.name }}</h3>
                    <p class="text-center"><small>{{ searchResults.companyDetails.exchange }}</small></p>
                    <div class="d-flex justify-content-center">
                        <button (click)="buyStock()" type="button" class="btn btn-success" style="margin-right: 5px;">Buy</button>
                        <button *ngIf="portfolioHasStock()" (click)="sellStock()" type="button" class="btn btn-danger" style="margin-left: 5px;">Sell</button>
                    </div>
                </div>
                <div class="col-2 col-md d-flex align-items-center flex-column" style="padding-left: 0px;">
                    <img class="logo" src="{{ searchResults.companyDetails.logo }}" alt="Company Logo">
                </div>
                <div class="col-5 col-md-4" style="font-weight: 500; padding-left: 0px;">
                    <div *ngIf="searchResults.companyQuote.d < 0" class="fs-3 text-center text-danger">
                        {{searchResults.companyQuote.c}}
                        <br>
                        <div class="d-flex fs-5 justify-content-center align-items-center mb-2">
                            <i class="bi bi-caret-down-fill me-1" style="font-size: 15px;"></i>
                            <small class="d-flex fs-5">
                                <span class="me-2">{{searchResults.companyQuote.d}}</span> <span>({{searchResults.companyQuote.dp}}%)</span>
                            </small>
                        </div>
                    </div>
                    <div *ngIf="searchResults.companyQuote.d >= 0" class="fs-2 text-center text-success">
                        {{searchResults.companyQuote.c}}
                        <br>
                        <div class="d-flex fs-5 justify-content-center align-items-center mb-2">
                            <i class="bi bi-caret-up-fill me-1" style="font-size: 15px;"></i>
                            <small class="d-flex fs-4">
                                <span class="me-2">{{searchResults.companyQuote.d}}</span> <span>({{searchResults.companyQuote.dp}}%)</span>
                            </small>
                        </div>
                    </div>
                    <p class="text-center fs-6 fw-normal"><small>{{convertDate(searchResults.companyQuote.t)}}</small></p>

                </div>
            </div>
            <p class="fw-bold {{marketColor}} align-items-end text-center mt-3">{{market}}</p>
            <mat-tab-group dynamicHeight class="mt-5">
                <mat-tab label="Summary">
                    <app-summary [searchResults]="searchResults"></app-summary>
                </mat-tab>
                <mat-tab label="Top News">
                    <app-top-news [searchResults]="searchResults"></app-top-news>
                </mat-tab>
                <mat-tab label="Charts">
                    <app-charts></app-charts>
                </mat-tab>
                <mat-tab label="Insights">
                    <app-insights></app-insights>
                </mat-tab>
            </mat-tab-group>
        </div>    
</div>