<div class="container" *ngIf="companyDetails">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col justify-content-center">
                    <h1 class="d-flex justify-content-center">{{ companyDetails.ticker }}
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star d-flex align-items-start" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                            </svg>
                        </span>
                    </h1>
                    <h3 class="text-center" style="color: grey;">{{ companyDetails.name }}</h3>
                    <p class="text-center">{{ companyDetails.exchange }}</p>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" style="margin-right: 5px;">Buy</button>
                        <button type="button" class="btn btn-danger" style="margin-left: 5px;">Sell</button>
                    </div>
                </div>
                <div class="col d-flex justify-content-center align-items-start">
                    <img src="{{ companyDetails.logo }}" alt="Company Logo" style="width: 100px; height: 100px;">
                    <p class="font-weight-bold {{marketColor}}">{{market}}</p>
                </div>
                <div class="col">
                    <p>{{ companyDetails.description }}</p>
                </div>
            </div>
            <mat-tab-group class="mt-5">
                <mat-tab label="Summary">
                    <app-summary></app-summary>
                </mat-tab>
                <mat-tab label="Top News">
                    <app-top-news></app-top-news>
                </mat-tab>
                <mat-tab label="Charts">
                    <app-charts></app-charts>
                </mat-tab>
                <mat-tab label="Insights">
                    <app-insights></app-insights>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-md-2"></div>
    
</div>